html{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:lightblue;
}
th{
    border: 2px solid lightblue;
    background-color:lightblue;
}
table,td{
    background-color:white;
    border:none;
}
nav li{
    float:right;
    padding:15px;
    display:inline;
    background-color:lightblue;
    font-size:24px;
    text-decoration: none;
}
nav li a {
    display: block;
    text-decoration: none;
}
nav li a:hover {
    background-color: white;
}
footer {
    position:absolute;
    bottom:0px;
    width:100%;
}
